Django==5.2.6
django-crispy-forms==2.6
crispy-bootstrap5==2025.6
django-cloudinary-storage==0.3.0
cloudinary==1.44.2
psycopg2-binary==2.9.12
gunicorn==23.0.0
whitenoise==6.9.0
pillow==11.0.0
python-dotenv==1.2.2
django-environ==0.13.0
djangorestframework==3.16.0
django-htmlmin==0.11.0
