{% extends 'base.html' %}
{% block title %}Program Schedule - Zion Global Media{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Weekly Program Schedule</h1>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6:00 AM</td>
                    <td>Morning Glory</td>
                    <td>Morning Glory</td>
                    <td>Morning Glory</td>
                    <td>Morning Glory</td>
                    <td>Morning Glory</td>
                    <td>Worship Hour</td>
                    <td>Sunday Service Live</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Word for Today</td>
                    <td>Bible Study</td>
                    <td>Word for Today</td>
                    <td>Bible Study</td>
                    <td>Word for Today</td>
                    <td>Youth Connect</td>
                    <td>Sunday Service Live</td>
                </tr>
                <tr>
                    <td>7:00 PM</td>
                    <td>Evening Prayer</td>
                    <td>Midweek Service</td>
                    <td>Evening Prayer</td>
                    <td>Evening Prayer</td>
                    <td>Prophetic Night</td>
                    <td>Gospel Music Mix</td>
                    <td>Evening Service</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}